<% content_for :title, 'All Teams' %>

<div class="teams">
  <div class="wrapper"?>
    <h1>All Teams</h1>
    <div class="team-list">
      <div id="team-list">
        <% if @teams.count > 0 %>
            <%= render 'teams' %>
        <%else%>
            <div id="none-message">
              <p>No Teams Added/Joined Yet.</p>
            </div>
        <%end%>
      </div>
      <hr/>

    </div>
  </div>
</div>