<% content_for :title, "#{@team.name.humanize}" %>
<!--TODO FIX THE AJAX CALLS-->
<div class="teams">
  <div class="wrapper">
    <h1>Team Information</h1>
    <div class="team-display">
      <%= render 'show_details' %>
    </div>
  </div>
</div>