<div id="skill-graph">
  <%= column_chart indi_graph_user_path(@user), library: { title:'Skill Set',colors: ['orangered'],backgroundColor: 'transparent'}, height: "200px", min:0, max:5, remote:true, id:'indi-chart', legend: true %>
</div>