<div class="participate">
  <span class="submit-btn" id="participate-button"><%= 'Participate' %></span>
  <div id="choices" style="display: none">
    <%= link_to 'Select team', {controller:'competitions', action:'select_team', :competition => @competition.id}, remote: true, id:'select-button', class:'submit-btn' if current_user.teams.present? %>
    <%= link_to 'Create Team', mine_teams_path, id:'create-button', class:'submit-btn' %>

    <small id="participate-cancel" style="cursor: pointer"><%= 'Cancel' %></small>

  </div>
</div>