<% content_for :title, @competition.name %>

<div class="competition-view">
  <div class="wrapper">
    <div class="data-fields">
      <%= render 'competition' %>
    </div>
    <hr/>
    <div class="actions">
      <% if @team %>
          <%= render 'team' %>
      <% else %>
          <%= render 'participate' %>
      <% end %>
    </div>
  </div>
</div>
