<div class="program-show" id="program-show">
  <div class="prog-details">
    <p><%= "Program Name: #{@program.name}" %></p>
    <p><%= "Program Description: #{@program.description}" %></p>
    <p><%= "Created On: #{@program.created_at.strftime('%d/%Y')}" %></p>
  </div>
  <div class="prog-stats">
    NEED TO MAKE USER-PROGRAM ASSOCIATIONS.
  </div>
</div>