<div class="program-show" id="program-show">
  <div class="prog-details">
    <p>
      <% "Program Name: #{@program.name}" %>
      <% "Program Description: #{@program.description}" %>
      <%= "Created On: #{@program.created_at.strftime('%d/%Y')}" %>
    </p>
  </div>
  <div class="chart">
    <%= pie_chart(@program.distribution, colors:['orangered','lightgreen','blue'], library: { backgroundColor: 'transparent',vAxis:{title:'Students'}, title: 'Student Distribution'}) %>
  </div>
</div>