<div class="skill-graph" id="skill-graph-<%=@user.id%>">
  <%= column_chart column_graph_user_path(@user),library:{title:"#{@user.fullname}",vAxis:{title:'Level'},backgroundColor:'transparent'}, height: "200px", min:0, max:5 %>
</div>