<% content_for :title, 'Dashboard' %>
<div class="users">
  <div class="wrapper">
    <% if current_user.admin %>
        <%= render 'dashboard_admin' %>
    <% else %>
        <%= render 'dashboard_user' %>
    <% end %>
  </div>
</div>