<h1>All Users</h1>

<% @users.each do |user| %>

    <p><%= link_to "#{user.fname}", user %> <%= " #{user.lname} -- #{user.email} -- #{user.score} -- #{user.program} -- #{user.graduation}"%></p>
    <% @user = user %>
    <%= render 'skill_graph' %>

<% end %>