<% content_for :title, @user.name %>


  <h1> Profile Page </h1>

  <div class="profile-info">
    <%= render 'user' %>
  </div>

  <% if current_user == @user %>
    <small><%= link_to 'Edit', edit_user_path(@user) %></small>
    <small><%= link_to 'Change Password', user_edit_password_path %></small>
  <% end %>

  <div class="column-graph">
    <% if @user.user_skills.any? %>

        <%= render 'indi_skill_graph' %>
    <% end %>
  </div>


