<% content_for :title, @user.name %>
<div class="users">
  <div class="wrapper">
    <h1><%= @user.fullname %></h1>

    <div class="profile-info">
      <%= render 'user' %>
    </div>

    <% if current_user == @user %>
        <small><%= link_to 'Edit', edit_user_path(@user), remote:true, id:'edit-user' %></small>
        <small><%= link_to 'Change Password', edit_password_users_path(@user), id:current_user.id %></small>
    <% end %>

  </div>
</div>


