$('#indi-chart').replaceWith("<%= j render('users/indi_skill_graph') %>");
$(".skill-list").empty().append("<%= j render 'users/skill_list' %>");

$('input.level').on('click', function(){
    $(this).parent().submit();
    $(this).closest('form').submit(function(){
        var valuesToSubmit = $(this).serialize();
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: valuesToSubmit,
            dataType: 'JSON'
        })
    });
});

$("#notice-message").html("<p><%= flash[:notice] %></p>").show();
$(".error").show();
$(function(){setTimeout(function(){
    $("#notice-message").fadeOut('slow',function() {
        $(this).hide();
    })
    $(".error").fadeOut('slow',function() {
        $(this).hide();
    })
}, 2000);
});

<% flash.clear %>

