$("#new_user_skill").hide();
$("#add-skill").show();
$("#none-message").hide();
$('#indi-chart').replaceWith("<%= j render('users/indi_skill_graph') %>");
$("#user-skills").append("<%= j render(@user_skill) %>");
$("#notice-message").html("<p><%= flash[:notice] %></p>").show();
$(".error").show();
$(function(){setTimeout(function(){
    $("#notice-message").fadeOut('slow',function() {
        $(this).hide();
    })
    $(".error").fadeOut('slow',function() {
        $(this).hide();
    })
}, 2000);
});

<% flash.clear %>

