<% content_for :title, "#{@skill.name}" %>
<div class="skills">
  <div class="wrapper">
    <h1><%= "#{@skill.name} - #{@skill.group} skills" %></h1>

    <br/><br/>
    <p><i>Maybe show a list of users, ranked, who have this skill?</i></p>



  </div>
</div>