
<div class="footer-box">
  <div class="links">
    <ul>
      <li><%= link_to 'About Us', '/welcome/about_us' %></li>
      <li><%= link_to 'Copyright © 2017 Effari All Rights Reserved', '#' %></li>
      <li><%= link_to 'Contact Us', '/welcome/contact_us' %></li>
    </ul>
  </div>
</div>