

.btn-style{
  border-radius: 4px;
  padding: 0 5px 0 5px;
  border: 0.1px solid lightgray;
  width: 120px;
  text-align: center;
  &:hover{
    cursor: pointer;
  }
}

.admin-setup{
  .hidden{
    display: none;
  }
}