

$nav-bar-height: 45px;
$nav-background: #212b35;
$nav-text: white;
$content-width: 90%;
$breakpoint: 800px;

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  height: $nav-bar-height;
  background-color: $nav-background;
  text-decoration: none;
  //border: 0.5px solid fuchsia;
}

.nav-container {
  max-width: $content-width;
  margin: 0 auto;
  height: $nav-bar-height;
  //border: solid yellowgreen 0.5px;

  .brand {
    //position: absolute;
    //border: solid violet 0.5px;
    float: left;
    line-height: $nav-bar-height;
    text-transform: uppercase;
    padding-left: 20px;
    font-size: 1.4em;
    .logo{
      vertical-align: middle;
    }
    .items, .logo {
      //border: solid mediumpurple 0.5px;
      margin: -3px 0 0 0;
      padding: 0 5px 0 5px;
      display: inline-block;
      height: $nav-bar-height;
    }

    a {
      text-decoration: none;
      color: $nav-text;
    }
    .items:hover, a:hover{
      transition: background-color 0.5s ease;
      background-color: #344452;
    }
  }

  nav {
    float: right;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      font-weight: bold;
      li {
        float: left;
        position: relative;
      }
      a {
        text-decoration: none;
        //color: $nav-text;

        color: orangered;
        display: block;
        padding: 0 10px;
        line-height: $nav-bar-height;
        &:hover {
          transition: background-color 0.5s ease;
          background-color: #344452;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      }
      ul li {
        width: 100%;
        min-width: 120px;
        background: $nav-background;
        height: 100%;
        font-size: 90%;

      }
    }
  }
}

//Drop down elements
.nav-dropdown {
  position: absolute;
  width: 100%;
  z-index: 8;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-bar-height;
  width: $nav-bar-height;
}

@media only screen and (max-width: $breakpoint) {
  .nav-mobile {
    display: block;
    margin-right: 15px;
  }

  nav {
    width: 100%;
    padding: $nav-bar-height 0 15px;
    ul {
      display: none;
      background: $nav-background;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
//I have an 'Amburger...
  #nav-toggle {
    position: absolute;
    z-index: 12;
    left: 18px;
    top: 10px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    span,
    span:before,
    span:after {
      cursor: pointer;
      border-radius: 2px;
      height: 5px;
      width: 35px;
      background: $nav-text;
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out;
    }
    span:before {
      top: -10px;
    }
    span:after {
      bottom: -10px;
    }
    &.active span {
      background-color: transparent;
      &:before,
      &:after {
        top: 0;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }

}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 10px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-text;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
