// Place all the styles related to the programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orange: #E28F41;
$beige: #f5f3eb;

.programs {
  padding-left: 20px;
  padding-bottom: 40px;
  background-color: $beige;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;

  .wrapper {
    font-family: 'Muli', sans-serif;

    pre, a {color: $orange; text-decoration: none;}
    .submit-btn {
      width: 50px;
      border-radius: 0;
      background: none;
      color: $orange;
      border: $orange solid 1px;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
      font-size: 0.7em;
      font-family: 'Bellefair', san-serif;
      padding: 3px 3px 3px 3px;
      vertical-align: middle;
    }

    form {
      input {
        padding-left: 5px;
        width: 200px;
        border: solid $orange 1px;
        height: 20px;

      }
      .submit-btn {
        width: auto;
        border-radius: 0;
        background: none;
        color: $orange;
        border: $orange solid 1px;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        font-size: 0.7em;
        font-family: 'Bellefair', san-serif;
        padding: 3px 3px 3px 3px;
        vertical-align: middle;
      }
      input:focus, select:focus {
        outline-color: $orange;
      }
      small {
        margin: 0;
        vertical-align: middle;
        display: inline-block;
        float: none;
        font-style: italic;
        font-size: 80%;
        a {color: $orange; text-decoration: none;}
      }
    }
    .chart {
      border: $orange solid 1px;
      left: 20px;
      margin-right: 40px;
    }
  }
}