//font-family: 'Bellefair', serif;
//font-family: 'Zilla Slab', serif;
//font-family: 'Lato', sans-serif;
//font-family: 'Raleway', sans-serif;
//font-family: 'Oxygen', sans-serif;

$breakpoint: 650px;
$orange: #E28F41;
.registrations {

  .wrapper {
    h2 {
      text-align: center;
    }

    .new_user{
      #error_explanation {
        h2, li {
          font-size: 0.7em;
          font-family: 'Oxygen', sans-serif;
        }
      }
      input {
        font-family: 'Zilla Slab', serif;
      }
      input:focus {
        outline: solid $orange 2px;
      }
    }

    font-family: 'Zilla Slab', serif;
    color: gray;

    background: rgba(247,246,240,0.95);
    position: fixed;
    top: 70px;
    padding: 10px 5px 50px 20px;
    width: 400px;

    .master-field, .field {
      padding-top: 5px;
      #inputs {
        border: none;
        height: 28px;
        width: 180px;
        padding-left: 10px;
      }
      #check-box {
        border: solid 1px $orange;
      }
    }
    .master-field {
      display: inline-block;
      position: absolute;
    }
    .admin-setup {
      padding-top: 5px;
      #admin-select {
        width: 200px;
        #get-pass {
          #password {
              border: $orange solid 1px;
              height: 20px;
              width: 180px;
              padding-left: 5px;
          }
        }

      }
    }
    .submit-btn {
      border-radius: 0;
      background: none;
      color: $orange;
      border: $orange solid 1.5px;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
      font-size: 0.7em;
      font-family: 'Bellefair', san-serif;
      padding: 6px 6px 6px 6px;
      display: inline-block;
      vertical-align: top;
      text-align: center;

    }
    .actions, .admin-setup {
      width: 100px;
    }
  }
}

@media only screen and (max-width: $breakpoint) {
  .registrations {

    margin: 0;

    .wrapper {
      left: 20px;
      width: 90%;
    }
  }
}