//font-family: 'Bellefair', serif;
//font-family: 'Zilla Slab', serif;
//font-family: 'Lato', sans-serif;
//font-family: 'Raleway', sans-serif;
//font-family: 'Oxygen', sans-serif;

$side-bar-width: 150px;
$side-background: #593674;
$orange: #E28F41;

.side-bar-open, .side-bar-close {
  display: none;
  z-index: 3;
  position: fixed;
  top: 50px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: $orange solid 1px;
  background-color: rgba($orange,0.1);
  cursor: pointer;
}
.side-bar-open { left: 15px;}
.side-bar-close { left: 165px;}
.side-bar-open:hover, .side-bar-close:hover {
  background-color: rgba($orange,0.5);
}

.sidebar-container{
  z-index: 5;
  top: 45px;
  left: 0;
  bottom: 40px;
  //border: solid green 0.1px;
  background: $side-background;
  color: white;
  width: $side-bar-width;
  position: fixed;
  display: block;
  .wrapper{
    text-align: center;

    .cover{
      padding: 40px 0 20px 0;
      .image{
        text-align: center;
      }
      .round{
        border-radius: 100%;
      }
    }
    .tabs{
      ul {
        font-size: 0.9em;
        width: inherit;
        font-family: 'Bellefair', serif;
        text-transform: uppercase;
        padding-left: 0;
        text-decoration: none;
        a{
          text-decoration: none;
        }
        li {
          padding: 8px 0 7px 0;
          text-decoration: none;
          list-style: none;
          vertical-align: middle;
          font-size: 0.9em;
          width: 100%;
          color: white;

        }
        li:hover {
          transition: background-color 0.5s ease;
          background-color: rgba(#E28F41,0.7);
        }
        a:hover {
          text-decoration: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .sidebar-container {
    display: none;
  }
  .side-bar-open {
    display: block;
  }
}

@media only screen and (min-width: 500px) {
  .sidebar-container {
    display: block;
  }
  .side-bar-open, .side-bar-close {
    display: none;
  }
}