//font-family: 'Bellefair', serif;
//font-family: 'Lato', sans-serif;
//font-family: 'Oxygen', sans-serif;
//font-family: 'Raleway', sans-serif;
//font-family: 'Zilla Slab', serif;
//font-family: 'Muli', sans-serif;

$orange: #E28F41;
$beige: #f5f3eb;

.skills {
  padding-left: 20px;
  padding-bottom: 40px;
  background-color: $beige;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;

  .wrapper {
    font-family: 'Muli', sans-serif;

    .submit-btn {
      width: 50px;
      border-radius: 0;
      background: none;
      color: $orange;
      border: $orange solid 1px;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
      font-size: 0.7em;
      font-family: 'Bellefair', san-serif;
      padding: 3px 3px 3px 3px;
      vertical-align: middle;
    }
    form {
      input {
        padding-left: 5px;
        width: auto;
        border: solid $orange 1px;
        height: 20px;

      }
      .submit-btn {
        width: 50px;
        border-radius: 0;
        background: none;
        color: $orange;
        border: $orange solid 1px;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        font-size: 0.7em;
        font-family: 'Bellefair', san-serif;
        padding: 3px 3px 3px 3px;
        vertical-align: middle;
      }
      input:focus, select:focus {
        outline-color: $orange;
      }
      small {
        margin: 0;
        vertical-align: middle;
        display: inline-block;
        float: none;
        font-style: italic;
        font-size: 80%;
      }
    }
  }
  .skill-dist {
    border: $orange solid 1px;
    left: 20px;
    margin-right: 40px;
  }
  small {
    float: right;
    position: relative;
    margin-right: 55px;
    margin-top: -20px;
    #core {
      display: none;
    }
    a {
      text-decoration: none;
      color: $orange;
    }
  }
  .table-wrapper {
    li.short{
      width: 50px;
      display: inline-block;
    }
    li.long{
      width: 150px;
      display: inline-block;
    }
    .action, li.action{
      font-size: 80%;
      vertical-align: top;
      display: inline-block;
    }
    .skills-table {
      ul {

        span {
          display: block;
          li {
            a {text-decoration: none;color: $orange;}
            display: inline-block;

          }
          .short{
            width: 50px;
          }
          .long{
            width: 150px;
          }
          .action{
            font-size: 80%;
            vertical-align: top;
          }
        }
      }
    }
  }
}

#skill-density-chart{
  p{
    position: absolute;
    z-index: 1;
    left: 40%;
  }
}