// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orange: #E28F41;

.pages{
  position: absolute;
  //border: solid brown 0.1px;

  top: 45px;
  left: 150px;
  right: 0;

  bottom: 40px;
  overflow: scroll;
  display: block;
}

.gator-background {
  position: fixed;
  z-index: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  left: -185;
  border: solid black 1px;
  background: url("/assets/core/gator_monument.jpg") fixed no-repeat;
  background-size: cover;
}

.login-control {
  top: 65px;
  right: 20px;
  position: fixed;
  z-index: 10;
  //border: solid red 1px;
  padding: 15px 10px 10px 10px;
  background: rgba(247,246,240,0.95);
  width: 280px;

  font-family: 'Zilla Slab', serif;
  color: gray;

  input {
    color: $orange;
    font-family: 'Zilla Slab', serif;
    letter-spacing: 1px;
    padding: 4px 10px 4px 12px;
  }
  input:focus {
    outline: solid $orange 2px;
  }

  .login-field {
    border: none;
    background: white;
    border-radius: 0;
    height: 20px;
    width: 260px;

  }
  .login-button {
    font-family: 'Lato', sans-serif;
    border: solid $orange 1.5px;
    padding: 4px 9px 4px 9px;
    background: transparent;
    border-radius: 0;
    color: $orange;
    height: 30px;
  }
}

// TODO REMOVE AFTER COMPLETION

.temp-content {

  background: rgba(beige,0.5 );
  padding: 20px 10px 20px 10px;
  .platform {
    font-family: 'Raleway', sans-serif;
    color: black;
  }
  b{
    font-size: 110%;
  }
}