// Place all the styles related to the yes_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.yes-list-chart-1{
  width: 50%;
  display: inline-block;
  vertical-align: top;
  p{
    position: absolute;
    z-index: 2;
    text-align: center;
    left: 20%;
  }
}
.yes-list-chart-2{
  width: 49%;
  display: inline-block;
  vertical-align: top;
  p{
    position: absolute;
    z-index: 2;
    text-align: center;
    left: 70%;
  }
}

#difficult-chart, #hated-chart{
  border: orangered solid 2.5px;
  //width: 100%;
  padding: 0%;
}
